/* №1 */
/* 
.shopping-list button {
    border: none;
    background: none;
  } */

/* №2 */
/* 
.shopping-list button {
    border: none;
    background: none;
  } */


/* .green-box{
    background-color: green;
    width: 150px;
    height: 150px;
} */




/* MELUMAT DAXIL OLUNMA ELEMENTLERI

№1 */

/* .messageBox{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 400px;
  height: 300px;
  margin: 100px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 15px;
} */



